# 1. Aquisicao e tratamento dos dados

## Importar bibliotecas

In [48]:
! pip install xlrd
! pip install openpyxl
! pip install pydantic

Requirement already satisfied: xlrd in /Users/shopee/opt/anaconda3/envs/TCC_PUC/lib/python3.8/site-packages (2.0.1)
Collecting openpyxl
  Using cached openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9
Requirement already satisfied: pydantic in /Users/shopee/opt/anaconda3/envs/TCC_PUC/lib/python3.8/site-packages (1.8.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /Users/shopee/opt/anaconda3/envs/TCC_PUC/lib/python3.8/site-packages (from pydantic) (3.10.0.2)

In [42]:
import pandas as pd
import os
import yfinance as yf

from pydantic import BaseModel
from typing import Optional, List

In [ ]:
class AquisicaoDadosFundamentos(BaseModel):
    balancos_dir: Optional[str] = "../dados/balancos/"
    fund_by_code: Optional[dict] = {}
    codes: List[str] = []

    def __init__(self, **kwargs):
        super().__init__(**kwargs)
        self.codes = self.get_code_list()

    def run(self):
        self.get_balancos_by_code()
        self.get_dre_by_code()
        return self.fund_by_code
    
    def get_code_list(self):
        return [file.replace("balanco_", "").replace(".xls", "") for file in os.listdir(self.balancos_dir)]

    def get_balancos_by_code(self) -> None:

        files = os.listdir(self.balancos_dir)

        for file in files:
            code = file.replace("balanco_", "").replace(".xls", "")
            print(code)
            balanco = pd.read_excel(f"{self.balancos_dir}{file}", sheet_name=0)
            # colocar codigo na posicao 0, 0
            balanco.iloc[0, 0] = code
            # mudar coluna
            balanco.columns = balanco.iloc[0]
            balanco = balanco[1:]
            # tornar a 1ª coluna (que agora tem o nome da emrpesa)
            balanco = balanco.set_index(code)
            self.fund_by_code[code] = balanco

    def get_dre_by_code(self) -> None:

        files = os.listdir(self.balancos_dir)
        for file in files:
            code = file.replace("balanco_", "").replace(".xls", "")
            dre = pd.read_excel(f"{self.balancos_dir}{file}", sheet_name=1)
            # na primeira coluna colocar o título com o nome da empresa
            dre.iloc[0, 0] = code
            # pegar 1ª linha e tornar um cabeçalho
            dre.columns = dre.iloc[0]
            dre = dre[1:]
            # tornar a 1ª coluna (que agora tem o nome da emrpesa)
            dre = dre.set_index(code)
            self.fund_by_code[code] = self.fund_by_code[code].append(dre)

    


ad = AquisicaoDadosFundamentos()
fundamentos_by_code = ad.run()

In [54]:
class AquisicaoDadosCotacoes(BaseModel):
    cotacoes_file: Optional[str] = "../dados/cotacoes/Cotacoes.xlsx"
    codes: List[str] = []
    cotacoes: Optional[dict] = {}

    def run(self):
        self.get_cotacoes_from_excel()
        self.tratar_dados_nulos()
        return self.cotacoes

    def get_cotacoes_from_excel(self) -> None:
        """
        Le planilha com cotacoes historicas das acos do IBOV
        """
        cotacoes_df = pd.read_excel(self.cotacoes_file)

        for empresa in cotacoes_df['Empresa'].unique():
            self.cotacoes[empresa] = cotacoes_df.loc[cotacoes_df['Empresa']==empresa, :]
        
        print(len(self.cotacoes))

    def tratar_dados_nulos(self) -> None:
        """
        Remover empresas com cotacao contendo dados nulos
        """
        empresas_a_remover = []
        for empresa in self.codes:
            if self.cotacoes[empresa].isnull().values.any():
                self.cotacoes.pop(empresa)
                empresas_a_remover.append(empresa)
        self.codes = list(self.cotacoes.keys())
        print(len(self.codes))

ad_cotacoes = AquisicaoDadosCotacoes(codes=ad.codes)
cotacoes_by_code = ad_cotacoes.run()

77
65

In [61]:
# remove fundamentos das empresas que tenham cotacoes com dados nulos
codes_to_be_removed_from_fund = list(set(fundamentos_by_code.keys()) ^ set(cotacoes_by_code.keys()))
for code in codes_to_be_removed_from_fund:
    fundamentos_by_code.pop(code)

if cotacoes_by_code.keys() == fundamentos_by_code.keys():
    print("Fundamentos com cotacoes com itens nulos removidos com sucesso")
    print(len(fundamentos_by_code.keys()))

Fundamentos com cotacoes com itens nulos removidos com sucesso
65

In [66]:
def juntar_fundamentos_com_cotacoes():
    """
    Trata os data frames de fundamentos e junta as cotacoes por trimestre
    """
    codes = fundamentos_by_code.keys()
    for code in codes:
        if "Adj Close" not in fundamentos_by_code[code].columns:
            df = fundamentos_by_code[code].T
            df.index = pd.to_datetime(df.index, format="%d/%m/%Y")
            # print(df)

            # Definir data como indice e pegar somente coluna de Adj Close do df
            df_cotacao = cotacoes_by_code[code].set_index("Date")
            df_cotacao = df_cotacao[["Adj Close"]]

            # Juntar dois dataframes
            df = df.merge(df_cotacao, right_index=True, left_index=True)
            df.index.name = code

            fundamentos_by_code[code] = df
        else:
            print("Tratamento ja executado")

juntar_fundamentos_com_cotacoes()

### Ajeitando colunas

In [73]:
columns = list(fundamentos_by_code["PETR4"].columns)

def remover_empresa_colunas_diff(columns_ref: List[str]):
    """ 
    Remove empresas que nao tenham colunas de acordo com colunas de acao referencia 
    """
    codes = fundamentos_by_code.keys()
    empresa_a_remover = []
    for code in codes:
        if set(columns_ref) != set(fundamentos_by_code[code].columns):
            empresa_a_remover.append(code)
    
    for empresa in empresa_a_remover:
        fundamentos_by_code.pop(empresa)
    
    print(len(fundamentos_by_code))

remover_empresa_colunas_diff(columns)

61

In [95]:
def select_columns_for_calc(codes):
    for code in codes:
        colunas_para_calculos = ["Ativo Total", "Patrimônio Líquido", "Receita Líquida de Vendas e/ou Serviços", "Lucro/Prejuízo do Período", "Adj Close"]
        df_c = fundamentos_by_code[code][colunas_para_calculos]
        df_c = df_c.rename(columns={"Ativo Total": "ativo_total", "Patrimônio Líquido": "patrimonio_liq", "Receita Líquida de Vendas e/ou Serviços": "receita_liq", "Lucro/Prejuízo do Período": "lucro_op", "Adj Close": "cotacao"})
        df_c.iloc[:,:-1] = df_c.iloc[:,:-1].astype(float)
        fundamentos_by_code[code] = df_c

codes = fundamentos_by_code.keys()
select_columns_for_calc(codes)

In [102]:
def calcular_dupont():
    codes = fundamentos_by_code.keys()
    for code in codes:
        df = fundamentos_by_code[code]

        af = df["ativo_total"] / df["patrimonio_liq"]
        ra = df["lucro_op"] / df["ativo_total"]
        ga = df["receita_liq"] / df["ativo_total"]
        ml = df["lucro_op"] / df["receita_liq"]
        rpl = af * ra
        roe = df["lucro_op"] / df["patrimonio_liq"]
        roa = ga * ml

        df["RPL"] = rpl
        df["ROE"] = roe
        df["ROA"] = roa
        df["AF"] = af
        df["RA"] = ra
        df["GA"] = ga
        df["ML"] = ml

        fundamentos_by_code[code] = df[["RPL", "ROE", "ROA", "AF", "RA", "GA", "ML", "cotacao"]]

calcular_dupont()

In [117]:

columns = fundamentos_by_code["PETR4"].columns

valores_vazios = dict.fromkeys(columns, 0)
total_linhas = 0
empresa_with_null = []

for empresa in fundamentos_by_code:
    tabela = fundamentos_by_code[empresa]
    total_linhas += tabela.shape[0]
    for coluna in columns:
        qtde_vazios = pd.isnull(tabela[coluna]).sum()
        if qtde_vazios > 0:
            empresa_with_null.append(empresa)
        valores_vazios[coluna] += qtde_vazios

print(valores_vazios)
print(total_linhas)
print(set(empresa_with_null))

# remove empresas com valores nulos, ignorando ABEV por ter nulo na ultima linha
for empresa in set(empresa_with_null):
    if empresa != "ABEV3":
        fundamentos_by_code.pop(empresa)

print(len(fundamentos_by_code))

{'RPL': 3, 'ROE': 3, 'ROA': 35, 'AF': 1, 'RA': 3, 'GA': 3, 'ML': 3, 'cotacao': 0}
2004
{'BRAP4', 'ABEV3', 'CSAN3', 'RADL3'}
58

In [ ]:
codes = list(fundamentos_by_code.keys())
codes

## Criacao de rotulos - coluna target

In [132]:
def get_ibov_from_yahoo():
    data_inicial = "2012-12-20"
    data_final = "2021-09-20"

    ibov = yf.download("^BVSP", start=data_inicial, end=data_final)

    return ibov

ibov = get_ibov_from_yahoo()

[*********************100%***********************]  1 of 1 completed

In [133]:
import numpy as np

In [ ]:
def get_ibov_by_fundamentos_dates(ibov):
    datas_fundamentos = fundamentos_by_code["PETR4"].index

    # Set as nan when dates are different
    for data in datas_fundamentos:
        if data not in ibov.index:
            ibov.loc[data] = np.nan
    ibov = ibov.sort_index()
    ibov = ibov.ffill()
    ibov = ibov.rename(columns={"Adj Close": "IBOV"})

    for code in fundamentos_by_code:
        fundamentos_by_code[code] = fundamentos_by_code[code].merge(ibov[["IBOV"]], left_index=True, right_index=True)

get_ibov_by_fundamentos_dates(ibov)

print(len(fundamentos_by_code))
fundamentos_by_code["PETR4"]

## Criar coluna resultado baseado em cotacao e IBOV

- cotacao e Ibov, considerar valores do proximo trimestre 
- Considerar comprar (1): variacao da cotacao de 2% acima da variacao do IBOV
- Considerar Vender (0): variacao da cotacao de 2% abaixo da variacao do IBOV

In [140]:
def criar_coluna_decisao(): 
    for empresa in fundamentos_by_code:
        df = fundamentos_by_code[empresa]
        df = df.sort_index()

        df["cotacao_var"] = df["cotacao"].shift(-1) / df["cotacao"] - 1
        df["IBOV_var"] = df["IBOV"].shift(-1) / df["IBOV"] - 1
        df["resultado"] = df["cotacao_var"] - df["IBOV_var"]

        condicoes = [
            (df["resultado"] > 0), 
            (df["resultado"] < -0.02)
        ]
        valores = [1, 0]

        df["decisao"] = np.select(condicoes, valores)

        fundamentos_by_code[empresa] = df

criar_coluna_decisao()

In [141]:
fundamentos_by_code["PETR4"]

,RPL,ROE,ROA,AF,RA,GA,ML,cotacao,IBOV,cotacao_var,IBOV_var,resultado,decisao
2012-12-31,0.022582,0.022582,0.011432,1.975390,0.011432,0.108313,0.105545,16.124966,60952.0,-0.056352,-0.075469,0.019117,1
2013-03-31,0.022935,0.022935,0.011064,2.072856,0.011064,0.104320,0.106061,15.216284,56352.0,-0.105504,-0.157847,0.052343,1
2013-06-30,0.018332,0.018332,0.008279,2.214321,0.008279,0.098296,0.084223,13.610906,47457.0,0.135436,0.102851,0.032585,1
2013-09-30,0.009946,0.009946,0.004476,2.222109,0.004476,0.102449,0.043689,15.454315,52338.0,-0.069717,-0.015878,-0.053839,0
2013-12-31,0.018053,0.018053,0.008342,2.164071,0.008342,0.107612,0.077523,14.376887,51507.0,-0.076112,-0.021201,-0.054911,0
2014-03-31,0.015213,0.015213,0.006724,2.262442,0.006724,0.101675,0.066134,13.282627,50415.0,0.168312,0.054607,0.113706,1
2014-06-30,0.013748,0.013748,0.006196,2.218935,0.006196,0.102825,0.060257,15.518258,53168.0,0.046269,0.017830,0.028439,1
2014-09-30,-0.015642,-0.015642,-0.006545,2.389925,-0.006545,0.108340,-0.060412,16.236279,54116.0,-0.445550,-0.075929,-0.369620,0
2014-12-31,-0.086126,-0.086126,-0.033527,2.568820,-0.033527,0.107188,-0.312792,9.002206,50007.0,-0.036889,0.022857,-0.059746,0
2015-03-31,0.017547,0.017547,0.006407,2.738851,0.006407,0.089372,0.071685,8.670120,51150.0,0.313664,0.037752,0.275913,1
2015-06-30,0.001728,0.001728,0.000618,2.797015,0.000618,0.093033,0.006642,11.389627,53081.0,-0.429472,-0.151128,-0.278345,0
2015-09-30,-0.012987,-0.012987,-0.004035,3.218509,-0.004035,0.088281,-0.045708,6.498101,45059.0,-0.074585,-0.037928,-0.036657,0
2015-12-31,-0.145008,-0.145008,-0.041036,3.533669,-0.041036,0.094545,-0.434039,6.013438,43350.0,0.240298,0.154671,0.085627,1
2016-03-31,-0.004744,-0.004744,-0.001450,3.270922,-0.001450,0.081867,-0.017715,7.458457,50055.0,0.133574,0.029408,0.104166,1
2016-06-30,0.001363,0.001363,0.000452,3.015281,0.000452,0.087153,0.005188,8.454713,51527.0,0.440552,0.132746,0.307806,1
2016-09-30,-0.063413,-0.063413,-0.020490,3.094789,-0.020490,0.087702,-0.233636,12.179452,58367.0,0.095800,0.031867,0.063932,1
2016-12-31,0.010031,0.010031,0.003118,3.216820,0.003118,0.087570,0.035608,13.346240,60227.0,-0.025555,0.078985,-0.104539,0
2017-03-31,0.017256,0.017256,0.005646,3.056574,0.005646,0.086753,0.065077,13.005178,64984.0,-0.146308,-0.032069,-0.114238,0
2017-06-30,0.001222,0.001222,0.000391,3.124303,0.000391,0.082910,0.004717,11.102418,62900.0,0.236863,0.181145,0.055719,1
2017-09-30,0.001016,0.001016,0.000331,3.070972,0.000331,0.089345,0.003704,13.732175,74294.0,0.052288,0.028374,0.023914,1
2017-12-31,-0.020747,-0.020747,-0.006587,3.149857,-0.006587,0.092015,-0.071584,14.450199,76402.0,0.329814,0.117327,0.212487,1
2018-03-31,0.025595,0.025595,0.008446,3.030386,0.008446,0.090349,0.093485,19.216074,85366.0,-0.195498,-0.147635,-0.047863,0
2018-06-30,0.035699,0.035699,0.011845,3.013699,0.011845,0.099255,0.119344,15.459363,72763.0,0.229945,0.090417,0.139528,1
2018-09-30,0.022882,0.022882,0.007665,2.985056,0.007665,0.113365,0.067617,19.014160,79342.0,0.116816,0.107698,0.009118,1
2018-12-31,0.007582,0.007582,0.002443,3.103879,0.002443,0.107755,0.022670,21.235323,87887.0,0.237213,0.085655,0.151558,1
2019-03-31,0.014261,0.014261,0.004247,3.357710,0.004247,0.084290,0.050388,26.272625,95415.0,-0.018775,0.058188,-0.076963,0
2019-06-30,0.062137,0.062137,0.019545,3.179142,0.019545,0.075180,0.259980,25.779356,100967.0,0.013006,0.037418,-0.024412,0
2019-09-30,0.029672,0.029672,0.009829,3.018642,0.009829,0.083347,0.117935,26.114651,104745.0,0.118001,0.107108,0.010893,1
2019-12-31,0.027587,0.027587,0.008804,3.133274,0.008804,0.078431,0.112257,29.196196,115964.0,-0.536448,-0.370322,-0.166126,0
2020-03-31,-0.209305,-0.209305,-0.049939,4.191214,-0.049939,0.077671,-0.642953,13.533956,73020.0,0.540469,0.301780,0.238689,1
2020-06-30,-0.011175,-0.011175,-0.002673,4.181566,-0.002673,0.050139,-0.053303,20.848644,95056.0,-0.090005,-0.004766,-0.085239,0
2020-09-30,-0.006241,-0.006241,-0.001601,3.897012,-0.001601,0.073263,-0.021858,18.972162,94603.0,0.445181,0.261123,0.184058,1
2020-12-31,0.194190,0.194190,0.060653,3.201644,0.060653,0.075927,0.798832,27.418209,119306.0,NaN,NaN,NaN,0

In [142]:
for empresa in fundamentos_by_code:
    fundamentos_by_code[empresa] = fundamentos_by_code[empresa].drop(["cotacao", "cotacao_var", "IBOV", "IBOV_var", "resultado"], axis=1)
print(fundamentos_by_code["PETR4"].shape)

(33, 8)

In [144]:
copia_fund = fundamentos_by_code.copy()

In [ ]:
bd = pd.DataFrame()
for code in copia_fund:
    copia_fund[code] = copia_fund[code][1:-1]
    copia_fund[code] = copia_fund[code].reset_index(drop=True)
    bd = bd.append(copia_fund[code])

In [150]:
bd.reset_index(drop=True, inplace=True)
bd

,RPL,ROE,ROA,AF,RA,GA,ML,decisao
0,-0.105253,-0.105253,-0.016222,6.488153,-0.016222,0.172112,-0.094254,0
1,-0.104673,-0.104673,-0.018332,5.709798,-0.018332,0.275444,-0.066555,0
2,-0.027526,-0.027526,-0.004677,5.884993,-0.004677,0.164357,-0.028459,1
3,-0.032876,-0.032876,-0.005308,6.193049,-0.005308,0.263596,-0.020139,1
4,-0.018787,-0.018787,-0.002987,6.288936,-0.002987,0.277509,-0.010765,1
...,...,...,...,...,...,...,...,...
1669,0.030807,0.030807,0.009171,3.359034,0.009171,0.132155,0.069398,1
1670,0.031875,0.031875,0.009289,3.431660,0.009289,0.140275,0.066217,1
1671,0.024589,0.024589,0.008690,2.829619,0.008690,0.114133,0.076137,0
1672,0.020095,0.020095,0.007375,2.724519,0.007375,0.114956,0.064159,1
1673,-0.003682,-0.003682,-0.001283,2.868939,-0.001283,0.081393,-0.015768,1

## Salvar dataframe em csv

In [151]:
bd.to_csv("../out/database_dupont.csv")

## Salvar dataframe em joblib

In [155]:
! pip install joblib
import joblib

joblib.dump(bd, "../out/database_dupont.joblib")

Requirement already satisfied: joblib in /Users/shopee/opt/anaconda3/envs/TCC_PUC/lib/python3.8/site-packages (1.0.1)

['../out/database_dupont.joblib']